<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>BF1</title>
  <link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="__PUBLIC__/css/bf1.css" />
 </head>
 <body>
  <!-- header -->
  <!-- nav -->
  <!-- <script src="__PUBLIC__/js/header.js"></script> -->
  <include file="Public/tpl/header.html" />
  <!-- banner -->
  <div id="banner">
    <div></div>
    <div></div>
  </div>  
  <!-- section -->
  <div id="section">
    <div>
      <h1>精彩图集</h1>
      <img src="__PUBLIC__/images/bf_thumb_01.jpg"/>
      <img src="__PUBLIC__/images/bf_thumb_02.jpg"/>
      <img src="__PUBLIC__/images/bf_thumb_03.jpg"/>
      <img src="__PUBLIC__/images/bf_thumb_05.jpg" style="float:right;"/>
      <img src="__PUBLIC__/images/bf_thumb_04.jpg"/>
      <img src="__PUBLIC__/images/bf_thumb_06.jpg"/>
      <img src="__PUBLIC__/images/bf_thumb_07.jpg"/>
      <img src="__PUBLIC__/images/bf_thumb_08.jpg"/>
      <img src="__PUBLIC__/images/bf_thumb_09.jpg"/>
    </div>
  </div>
  <!-- footer -->
  <!-- down -->
  <!-- article -->
  <!-- <script src="__PUBLIC__/js/footer.js"></script> -->
  <include file="Public/tpl/footer.html" />
 </body>
</html>
