<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>M6</title>
  <link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="__PUBLIC__/css/m6.css" />
 </head>
 <body>
  <!-- header -->
  <!-- nav -->
  <!-- <script src="js/header.js"></script> -->
  <include file="Public/tpl/header.html" />
  <!-- banner -->
  <div id="banner">
    <div>
      <a href="index.html" target="_blank">
        <img src="__PUBLIC__/images/logo.png-v=20160601.png"/>
      </a>
      <ul class="rt">
        <li><a href="#" class="bg home">美图M6</a></li>
        <li><a href="#">相关视频</a></li>
        <li><a href="#">高清图集</a></li>
        <li><a href="#">详细参数</a></li>
        <li><a href="#">选购配件</a></li>
        <li class="no"><a href="#">S码通道</a></li>
        <li class="no"><a href="M6buycar.html" target="_blank" class="nono">立即抢购</a></li>
      </ul>
    </div>
    <div class="banner_middle">
      <div>
        <h2>标准版：¥2399 &nbsp;&nbsp;|&nbsp;&nbsp; Hello Kitty特别版：¥2599</h2>
        <a href="M6buycar.html" target="_blank">立即抢购</a>
      </div>
    </div>
    <div class="zhe">
      <div>
        <video src="__PUBLIC__/images/beauty_camera.mp4" width="900" controls id="video"></video>
        <span>关闭视频</span>
        <img src="__PUBLIC__/images/pause.png">
      </div>
    </div>
    <div class="banner_down">
      <div>
        <h1 class="lf">美图M6相关视频：</h1>
        <a href="#" class="rt">更多视频</a>
        <ul>
          <li>
            <i><b></b></i>
            <a href="#">
              <img src="__PUBLIC__/images/video-pic1.jpg-v=20160608.jpg"/>
            </a><br />
            美图拍照手机广告
          </li>
          <li>
            <i><b></b></i>
            <a href="#">
              <img src="__PUBLIC__/images/video-pic2.jpg-v=20160608.jpg"/>
            </a><br />
            美图拍照手机微电影
          </li>
          <li>
            <i><b></b></i>
            <a href="#">
              <img src="__PUBLIC__/images/video-pic3.jpg-v=20160608.jpg"/>
            </a><br />
            美图拍照手机广告(强迫症篇)
          </li>
          <li>
            <i><b></b></i>
            <a href="#">
              <img src="__PUBLIC__/images/video-pic4.jpg-v=20160608.jpg"/>
            </a><br />
            美图M6产品介绍(设计篇)
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- section -->
  <div id="section">
    <div class="bg1">
      <div>
        <p class="left">
          不管是运动中的抓拍，还是昏暗灯光下的自拍，美图M6都能够让我的自拍有杂志大片感。<br /><br />
            &nbsp;&nbsp;—— Angelababy（杨颖）
        </p>
      </div>
    </div>
    <div class="bg2">
      <div>
        <h1>前置2100万像素摄像头，继续引领自拍风潮。</h1>
        <span class="top">
          美图M6配置了2100万像素的索尼前置摄像头，搭配独立的索喜（原富士通）Milbeaut图像处理器。它拥有更快的对焦、出色的色彩还原、高像素的成像、更好的美颜，让手机也能拍出电影画质级自拍。
        </span>
        <img src="__PUBLIC__/images/b-aside.png-v=20160601.png"/>
        <ul class="spe">
          <li class="no">6P镜头</li>
          <li>前置2100万像素<b>索尼sensor</b>
          </li>
          <li>Milbeaut图像处理器</li>
          <li>真八核处理器<b>Helio P10</b></li>
        </ul>
      </div>
    </div>
    <div class="bg3">
      <div>
        <p class="right">
          美图M6的后置2100万像素经得起放大，直接冲印照片都非常清晰！<br /><br />
            &nbsp;&nbsp;—— Angelababy（杨颖）
        </p>
      </div>
    </div>
    <div class="bg4">
      <div>
        <h1>后置2100万像素摄像头，更快的对焦速度。</h1>
        <span class="top">
          美图M6拥有2100万像素的索尼后置摄像头，让你即使放大照片也不会丢失任何细节。多样化的后置拍摄模式，不需任何图像处理就可直接进行冲印，照片色彩绚丽鲜活，细节清晰细腻。
        </span>
        <ul class="nor">
          <li><i class="li_bg1"></i>HDR细节增强</li>
          <li><i class="li_bg2"></i>全景拍摄模式</li>
          <li><i class="li_bg3"></i>延时摄影</li>
          <li><i class="li_bg4"></i>慢动作视频</li>
        </ul>
        <img src="__PUBLIC__/images/c-aside-phone.png-v=20160617.png"/>

      </div>
    </div>
    <div class="bg5">
      <div>
        <p class="left">
          美图M6不光拍照美美哒，连视频直播也是美美哒！<br /><br />
            &nbsp;&nbsp;—— Angelababy（杨颖）
        </p>
      </div>
    </div>
    <div class="bg6">
      <div>
        <h1>视频美颜和照片美颜，8年专业美颜黑科技。</h1>
        <span class="top">
          从2008年开始，美图一直致力于研究人像美颜技术，从美图秀秀、美颜相机到美图手机，10亿用户的大数据收 集，800人专业团队的研究，造就了美图M6专业的美颜黑科技，基于用户反馈不断优化调整的美颜细节，让你呈现自然的美颜效果。
        </span>
        <ul class="spe">
          <li class="no">8年<b>美颜积累</b></li>
          <li>10亿<b>用户反馈</b></li>
          <li>800人<b>专业团队</b></li>
        </ul>
        <img src="__PUBLIC__/images/d-aside-phone.png-v=20160608.png"/>
      </div>
    </div>
    <div class="bg7">
      <div>
        <p class="right">
          不管是舒缓的轻音乐，还是BIGBANG的演唱会Live，美图M6的音效让我非常震撼，就像自己在现场听的一样！<br /><br />
            &nbsp;&nbsp;—— Angelababy（杨颖）
        </p>
      </div>
    </div>
    <div class="bg8">
      <div>
        <div>
          <h1>发烧级Hi-Fi音效，<br />来自独立音乐芯片。</h1>
          <span class="top">
            美图M6配备了独立的音乐芯片，辅以国际知名的Waves音效处理算法。硬件和软件音效的调试，打造出听觉上的Hi-Fi体验。基于手持通话的降噪处理，即使在吵闹的夜场，也能和对方清晰通话。
          </span>
          <ul class="nor">
            <li><i class="li_bg5"></i><br />独立音乐芯片</li>
            <li><i class="li_bg6"></i><br />Hi-Fi</li>
            <li><i class="li_bg7"></i><br />Waves音效</li>
            <li><i class="li_bg8"></i><br />手机通话降噪</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg9">
      <div>
        <p class="right">
          美图M6移动、电信、联通的卡都可以用哦，而且4G上网速度也很快，看美拍，打游戏都很爽！<br /><br />
            &nbsp;&nbsp;—— Angelababy（杨颖）
        </p>
      </div>
    </div>
    <div class="bg10">
      <div>
        <div class="left1">
          <h1>4G + 全网通，<br />全面支持三大运营商。</h1>
          <span class="top">
            美图M6全面支持中国移动、中国电信、中国联通4G网络，新一代4G+技术，下行峰值高达300Mbps，让你不管是刷朋友圈、看视频、发美拍、玩游戏，还是下载应用，都能畅快享受！
          </span>
          <ul class="nor">
            <li><i class="li_bg9"></i><br />中国移动</li>
            <li><i class="li_bg10"></i><br />中国电信</li>
            <li><i class="li_bg11"></i><br />中国联通</li>
          </ul>
          <p class="down"><b>300Mbps</b><br />（理想状态下载速度峰值）</p>
        </div>
        <img class="rt" src="__PUBLIC__/images/f-aside-phone.png-v=20160601.png"/>
      </div>
    </div>
    <div class="bg11">
      <div>
        <p class="left">
          美图M6真是太懂女孩了，不仅有常见的指纹解锁，还有私密相册的指纹开启，再也不用担心别人偷看相册看到自己的糗照了。<br /><br />
            &nbsp;&nbsp;—— Angelababy（杨颖）
        </p>
      </div>
    </div>
    <div class="bg12">
      <div>
        <div class="right1">
          <h1>指纹识别技术，<br />让手机数据更私密。</h1>
          <span class="top">
            美图M6正面加入了按压式的指纹识别模块，专业灵敏的安全软件算法，让你可以通过自己的指纹，轻而易举的解锁手机并完成一系列的网络支付。同时创新性的加入了私密相册的指纹解锁功能，让你的图片信息更安全、更隐私。
          </span>
          <ul class="nor">
            <li><i class="li_bg12"></i><br />私密相册</li>
            <li><i class="li_bg13"></i><br />安全支付</li>
            <li><i class="li_bg14"></i><br />安全解锁</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg13">
      <div>
        <p class="right">
          看视频很快，玩游戏很快，拍照很快，充电也很快，美图M6的一切都快得让我觉得不可思议！<br /><br />
            &nbsp;&nbsp;—— Angelababy（杨颖）
        </p>
      </div>
    </div>
    <div class="bg14">
      <div>
        <h1>超级硬件配置，更快、更流畅。</h1>
        <span class="top_2">
          美图M6拥有3GB RAM + 64GB ROM的超大内存，搭配真八核处理器，同时运行多个程序都毫无压力，省去了频繁清理内存和关闭程序的麻烦；5.0英寸的三星AMOLED全高清屏幕，不管是玩游戏还是看视频，都有身临其境的视觉体验；全新的快充2A技术，再不用经历漫长的充电等待。
        </span>
        <ul class="spe">
          <li class="no">3GB<b>RAM</b></li>
          <li>64GB<b>ROM</b></li>
          <li>5.0英寸<b>显示屏</b></li>
          <li>1080P<b>分辨率</b></li>
          <li>441<b>PPI</b></li>
          <li>快充2A</li>
        </ul>
        <img src="__PUBLIC__/images/h-aside-phone.png-v=20160606.png" class="let_down"/>
      </div>
    </div>
    <div class="bg15">
      <div>
        <p class="right">
          美图M6不仅是手机，更是潮品！手持握感非常棒，那么大的屏幕女生单手也能很好操作。<br /><br />
            &nbsp;&nbsp;—— Angelababy（杨颖）
        </p>
      </div>
    </div>
    <div class="bg16">
      <div>
        <h5>艺术级外观设计，双曲面玻璃。</h5>
      </div>
    </div>
    <div class="bg17">
      <div>
        <h4>艺术级外观设计，双曲面玻璃。</h4>
        <span class="top">
          美图M6延续美图产品一贯的“双V”设计，不同于千篇一律的手机产品，即使在人群中也能吸睛无数。大胆的双曲面玻璃，前卫的配色突破，细腻的全金属边框，让美图M6看上去更像是一件艺术品。背面的大弧面设计，5.0英寸大屏也能有舒适的手持握感，单手发信息，打电话，都非常方便快捷。
        </span>
        <ul class="spe">
          <li class="no">全金属边框</li>
          <li class="no">对称型设计</li>
          <li class="no">超大弧面玻璃</li>
        </ul>
      </div>
    </div>
    <div class="bg18">
      <div>
        <img src="__PUBLIC__/images/j-left-phone.png-v=20160606.png" class="img_left lf"/>
        <img src="__PUBLIC__/images/j-right-phone.png-v=20160601.png" class="img_right rt"/>
      </div>
      <div>
        <h2>Hello Kitty特别版<br />六大特别之处</h2>
        <ul class="spe">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<li class="no">双颜色版</li>
          <li class="no">正版授权</li><br />
          &nbsp;&nbsp;&nbsp;<li class="no">主题桌面</li>
          <li class="no">萌动外观</li><br />
          <li class="no">华丽包装</li>
          <li class="no">收藏证书</li>
        </ul>

      </div>
    </div>
    <div class="bg19">
      <div>
        <p class="left">
          美图M6的界面很cool，而且不用研究说明书也能轻松上手操作。并且超省电，打电话一个小时只耗掉了3%的电量！<br /><br />
            &nbsp;&nbsp;—— Angelababy（杨颖）
        </p>
      </div>
    </div>
    <div class="bg20">
      <div>
        <div class="left1">
          <h1>全新 &nbsp;<i class="li_bg15"></i>，<br />流畅、省电、易用。</h1>
          <span class="top_3">
            美图M6同时带来了全新的MEIOS3，它拥有更潮的界面设计，更流畅的交互体验，一用就会的系统操作，以及更稳定，更节能的手机性能优化。同时提供云端备份还原，让你能够实现一键换机，轻松上手无压力！
          </span>
          <ul class="nor">
            <li><i class="li_bg16"></i><br />未来设计</li>
            <li><i class="li_bg17"></i><br />环保节能</li>
            <li><i class="li_bg18"></i><br />流畅交互</li>
          </ul>
        </div>
        <img class="rt" src="__PUBLIC__/images/k-aside-right.png-v=20160610.png"/>
      </div>
    </div>
  </div>
  <!-- section_down -->
  <div id="section_down">
    <div>
      <ul>
        <li>
          <a href="#"><img src="__PUBLIC__/images/addtion1.jpg"/><h6>配件专区</h6><s></s></a>
        </li>
        <li><a href="#"><img src="__PUBLIC__/images/addtion2.jpg"/><h6>相关视频</h6><s></s></a></li>
        <li><a href="#"><img src="__PUBLIC__/images/addtion3.jpg"/><h6>高清图集</h6><s></s></a></li>
      </ul>
    </div>
  </div>
  <!-- footer -->
  <!-- down -->
  <!-- <script src="js/footer.js"></script> -->
  <include file="Public/tpl/footer.html" />
  <div id="goTop"></div>
  <script src="__PUBLIC__/js/M6.js"></script>
 </body>
</html>
