<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Angelababy</title>
  <link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css">
 </head>
 <body>
  <!-- header -->
  <!-- nav -->
  <include file="Public/tpl/header.html" />
  <!-- <script src="__PUBLIC__/js/header.js"></script> -->
  <!-- banner -->
  <div id="banner">
    <div id="slider">
      <ul class="clear" id="imgs">
        
      </ul>
      <ul id="indexs">
        
      </ul>
      <div class="banner_left">
        <ul>
          <li class="top_special"
          onmouseover="document.getElementById('banner_tanchu1').style.visibility='visible'" 
          onmouseout="document.getElementById('banner_tanchu1').style.visibility='hidden'">
            <b>手机</b><br />
            <a href="#">美图M6</a>&nbsp;&nbsp;&nbsp;
            <a href="#">美图V4s</a>
          </li>
          <li class="top_special"
          onmouseover="document.getElementById('banner_tanchu2').style.visibility='visible'" 
          onmouseout="document.getElementById('banner_tanchu2').style.visibility='hidden'">
            <b>相机</b><br />
            <a href="bf1.html" target="_blank">美图BF1</a>
          </li>
          <li class="top_special"
          onmouseover="document.getElementById('banner_tanchu3').style.visibility='visible'" 
          onmouseout="document.getElementById('banner_tanchu3').style.visibility='hidden'">
            <b>常规配件</b><br />
            <a href="#">贴膜</a>&nbsp;&nbsp;&nbsp;
            <a href="#">耳机</a>&nbsp;&nbsp;&nbsp;
            <a href="#">手机壳</a>&nbsp;&nbsp;&nbsp;
            <a href="#">电池</a>
          </li>
          <li class="top_special"
          onmouseover="document.getElementById('banner_tanchu4').style.visibility='visible'" 
          onmouseout="document.getElementById('banner_tanchu4').style.visibility='hidden'">
            <b>拍摄配件</b><br />
            <a href="#">自拍架</a>&nbsp;&nbsp;&nbsp;
            <a href="#">遥控器</a>&nbsp;&nbsp;&nbsp;
            <a href="#">补光灯</a>
          </li>
         <li class="top_special"
          onmouseover="document.getElementById('banner_tanchu5').style.visibility='visible'" 
          onmouseout="document.getElementById('banner_tanchu5').style.visibility='hidden'">
            <b>生活方式</b><br />
            <a href="#">生活周边</a>&nbsp;&nbsp;&nbsp;
            <a href="#">T恤</a>
          </li>
          <li><b>企业团购</b><br /></li>
          <li><b>线下体验店</b><br /></li>
        </ul>
      </div>
      <div class="axiba">
        <div class="banner_tanchu" id="banner_tanchu1">
          <ul>
            <li>
              <img src="__PUBLIC__/images/575692160a7c882237.jpg!thumb220.jpg"> 
              <a href="#">美图M6</a>
            </li>
            <li>
              <img src="__PUBLIC__/images/5756a4257695257481.jpg!thumb220.jpg"> 
              <a href="#">美图V4s</a>
            </li>
            <li>
              <img src="__PUBLIC__/images/57a7ec157bbcc60544.jpg!thumb220.jpg"> 
              <a href="#">美图M6(月光白)</a>
            </li>
            <li>
              <img src="__PUBLIC__/images/57a7ec1a861e266358.jpg"> 
              <a href="#">美图M6(樱花粉)</a>
            </li>
          </ul>
        </div>
        <div class="banner_tanchu" id="banner_tanchu2">
          <ul>
            <li>
              <img src="__PUBLIC__/images/564acb7e6cf8474119.jpg!thumb220.jpg"> 
              <a href="bf1.html" target="_blank">美图BF1</a>
            </li>
          </ul>
        </div>
        <div class="banner_tanchu" id="banner_tanchu3">
          <ul>
            <li>
              <img src="__PUBLIC__/images/5795a7a49ed5238759.jpg!thumb220.jpg"> 
              <a href="#">美图M6数据线</a>
            </li>
            <li>
              <img src="__PUBLIC__/images/561e03a60e3cb47662.jpg!thumb220.jpg"> 
              <a href="#">美图专属耳机</a>
            </li>
            <li>
              <img src="__PUBLIC__/images/56a1c5610604b12775.jpg!thumb220.jpg"> 
              <a href="#">美图真皮保护套</a>
            </li>
            <li>
              <img src="__PUBLIC__/images/5621b24e25e6248824.jpg!thumb220.jpg"> 
              <a href="#">Meitu MLGB潮牌</a>
            </li>
          </ul>
        </div>
        <div class="banner_tanchu" id="banner_tanchu4">
          <ul>
            <li>
              <img src="__PUBLIC__/images/5637446e2d5ee67837.jpg"> 
              <a href="#">美图遥控器二代</a>
            </li>
            <li>
              <img src="__PUBLIC__/images/570c92e64879a59695.jpg!thumb220.jpg"> 
              <a href="#">美图旋转支架</a>
            </li>
            <li>
              <img src="__PUBLIC__/images/56374099cdb9d66161.jpg!thumb220.jpg"> 
              <a href="#">美图自拍补光灯</a>
            </li>
          </ul>
        </div>
        <div class="banner_tanchu" id="banner_tanchu5">
          <ul>
            <li>
              <img src="__PUBLIC__/images/5735403d0846721870.jpg!thumb220.jpg"> 
              <a href="#">MeituFamily</a>
            </li>
            <li>
              <img src="__PUBLIC__/images/54365f91e130911892.jpg"> 
              <a href="#">MeituMirror</a>
            </li>
            <li>
              <img src="__PUBLIC__/images/546d95ada3e2084497.jpg"> 
              <a href="#">MLGB抱枕</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- banner_bottom -->
  <div id="banner_bottom">
    <ul>
      <li>
        <a href="#">
          <img src="__PUBLIC__/images/577b6c126884c98714.jpg" title="大牌明星">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="__PUBLIC__/images/576263b788bec69039.jpg" title="线下">
        </a>
      </li>
      <li class="no">
        <a href="#">
          <img src="__PUBLIC__/images/57ba9c0ec94f532807.jpg" title="MF">
        </a>
      </li>
    </ul>
  </div>
  <!-- section -->
  <div id="section">
    <div>
      <div class="section_child_top clear"><h1 class="lf">手机</h1><a href="#" class="rt">更多&gt;</a></div>
      <div class="section_child_top">
        <ul class="section_child_middle">
          <li class="section_special">
            <img src="__PUBLIC__/images/575d09b78457490925.jpg" title="M6">
          </li>
          <li>
            <a href="#">
              <img src="__PUBLIC__/images/575692160a7c882237.jpg!thumb220.jpg" title="美图M6">
            </a><br>
            <b>美图M6</b><br>
            <span>自拍大明星</span>
            <h3>￥2399</h3>
          </li>
          <li>
            <a href="#">
              <img src="__PUBLIC__/images/5756a4257695257481.jpg!thumb220.jpg" title="美图V4s">
            </a><br>
            <b>美图V4s</b><br>
            <span>自拍旗舰</span>
            <h3>￥3499</h3>
          </li>
          <li>
            <a href="#">
              <img src="__PUBLIC__/images/578c93155055245327.jpg!thumb220.jpg" title="美图V4s">
            </a><br>
            <b>美图V4s雅致版</b><br>
            <span>自拍旗舰</span>
            <h3>￥4399</h3>
          </li>
          <li class="section_special_right">
            <a href="#">
              <img src="__PUBLIC__/images/57a7ec157bbcc60544.jpg!thumb220.jpg" title="美图(特别版 月光白)">
            </a><br>
            <b>美图M6(特别版 月光白)</b><br>
            <span>Hello Kitty特别版</span>
            <h3>￥2599</h3>
          </li>
        </ul>
      </div>  
    </div>
    <div>
      <div class="section_child_top clear"><h1 class="lf">配件</h1><a href="#" class="rt">更多&gt;</a></div>
      <div class="section_child_top">
        <ul class="section_child_middle">
          <li class="section_special  down_border">
            <img src="__PUBLIC__/images/563745f67f45545765.jpg">
          </li>
          <li>
            <a href="#">
              <img src="__PUBLIC__/images/5795a7a49ed5238759.jpg!thumb220.jpg" title="美图M6手机数据线">
            </a><br>
            <b>美图M6手机数据线</b><br>
            <span>原装正品,品质保证</span>
            <h3>￥39</h3>
          </li>
          <li>
            <a href="#">
              <img src="__PUBLIC__/images/57a7ed6d65ca628543.jpg!thumb220.jpg" 
              title="美图V4s高透手机壳">
            </a><br>
            <b>美图V4s高透手机壳</b><br>
            <span>减震防摔,保护手机</span>
            <h3>￥49</h3>
          </li>
          <li>
            <a href="#">
              <img src="__PUBLIC__/images/57a06a2a9621c72275.jpg!thumb220.jpg" title="美图M6 3D屏幕保护膜">
            </a><br>
            <b>美图M6 3D屏幕保护膜</b><br>
            <span>3D全屏覆盖,无缝隙完美贴合</span>
            <h3>￥19.9</h3>
          </li>
          <li class="section_special_right">
            <a href="#">
              <img src="__PUBLIC__/images/56d80b511c3ce57438.jpg!thumb220.jpg" title="美图V4/V4s/M6电源适配器">
            </a><br>
            <b>美图V4/V4s/M6电源适配器</b><br>
            <span>简约设计,快速充电</span>
            <h3>￥29</h3>
          </li>
        </ul>
      </div>
      <div class="section_child_top">
        <ul class="section_child_middle">
          <li class="section_special">
            <img src="__PUBLIC__/images/577f007c56ea942623.jpg">
          </li>
          <li>
            <a href="#">
              <img src="__PUBLIC__/images/561e03a60e3cb47662.jpg!thumb220.jpg" title="美图手机专属耳机">
            </a><br>
            <b>美图手机专属耳机</b><br>
            <span>美图专属耳机</span>
            <h3>￥79</h3>
          </li>
          <li>
            <a href="#">
              <img src="__PUBLIC__/images/56efc9c440cbd49231.jpg!thumb220.jpg" 
              title="美图V4/V4s钢化玻璃膜">
            </a><br>
            <b>美图V4/V4s钢化玻璃膜</b><br>
            <span>原装正品,品质保证</span>
            <h3>￥49</h3>
          </li>
          <li>
            <a href="#">
              <img src="__PUBLIC__/images/56a1c5610604b12775.jpg!thumb220.jpg" title="美图手机真皮保护套">
            </a><br>
            <b>美图手机真皮保护套</b><br>
            <span>皮套材质,抽取式设计</span>
            <h3>￥129</h3>
          </li>
          <li class="section_special_right">
            <a href="#">
              <img src="__PUBLIC__/images/56374099cdb9d66161.jpg!thumb220.jpg" title="美图自拍补光灯">
            </a><br>
            <b>美图自拍补光灯</b><br>
            <span>再也不怕夜拍</span>
            <h3>￥99</h3>
          </li>
        </ul>
      </div>  
    </div>
    <div>
      <div class="section_child_top clear"><h1 class="lf">生活方式</h1><a href="#" class="rt">更多&gt;</a></div>
      <div class="section_child_top">
        <ul class="section_child_middle">
          <li class="section_special down_border">
            <img src="__PUBLIC__/images/572dd7f1e9cd873807.jpg">
          </li>
          <li>
            <a href="#">
              <img src="__PUBLIC__/images/5735400e523ca84322.jpg!thumb220.jpg" title="MeituFamily X MLGB 夏日潮TEE(闪兔成人款S)">
            </a><br>
            <b>MeituFamily X MLGB </b><br>
            <span>夏日潮Tee</span>
            <h3>￥198</h3>
          </li>
          <li>
            <a href="#">
              <img src="__PUBLIC__/images/5735403d0846721870.jpg!thumb220.jpg" 
              title="MeituFamily X MLGB 夏日潮TEE(机车熊儿童款120CM)">
            </a><br>
            <b>MeituFamily X MLGB 儿童款</b><br>
            <span>夏日潮Tee儿童款</span>
            <h3>￥139</h3>
          </li>
          <li>
            <a href="#">
              <img src="__PUBLIC__/images/57999e60595cc76713.jpg!thumb220.jpg" title="MeituFamily雨伞">
            </a><br>
            <b>MeituFamily雨伞</b><br>
            <span>雨天也拉风</span>
            <h3>￥189</h3>
          </li>
          <li class="section_special_right">
            <a href="#">
              <img src="__PUBLIC__/images/579f0829b30f234760.jpg!thumb220.jpg" title="MeituFamily笔记本">
            </a><br>
            <b>MeituFamily笔记本</b><br>
            <span>潮酷文具</span>
            <h3>￥209</h3>
          </li>
        </ul>
      </div>
      <div class="section_child_top">
        <ul class="section_child_middle">
          <li class="section_special">
            <img src="__PUBLIC__/images/57abedd5de18716300.jpg">
          </li>
          <li>
            <a href="#">
              <img src="__PUBLIC__/images/5791bd17030f814166.jpg!thumb220.jpg" title="MeituFamily小笼包鸡购物袋">
            </a><br>
            <b>MeituFamily小笼包鸡购物袋</b><br>
            <span>购物必备</span>
            <h3>￥99</h3>
          </li>
          <li>
            <a href="#">
              <img src="__PUBLIC__/images/57b57aef8494e47741.jpg!thumb220.jpg" 
              title="MeituFamily萌趣贴纸">
            </a><br>
            <b>MeituFamily萌趣贴纸</b><br>
            <span>萌趣贴纸</span>
            <h3>￥29</h3>
          </li>
          <li>
            <a href="#">
              <img src="__PUBLIC__/images/5640736873a2c18944.jpg!thumb220.jpg" title="限量版美图公仔(许愿喵)">
            </a><br>
            <b>限量版美图公仔(许愿喵)</b><br>
            <span>许愿喵</span>
            <h3>￥59</h3>
          </li>
          <li class="section_special_right">
            <a href="#">
              <img src="__PUBLIC__/images/5640735e3712687063.jpg!thumb220.jpg" title="限量版美图公仔(招财喵)">
            </a><br>
            <b>限量版美图公仔(招财喵)</b><br>
            <span>招财喵</span>
            <h3>￥59</h3>
          </li>
        </ul>
      </div>  
    </div>
    <div>
      <div class="section_child_top clear"><h1 class="lf">生活方式</h1><a href="#" class="rt">更多&gt;</a></div>
      <div class="go">
        <a class="lf">&lt;</a>
        <a class="rt">&gt;</a>
      </div>
      <div class="gundong">
        <ul>
          <li>
            <img src="__PUBLIC__/images/56373fabc52f380458.png" title="美图秀秀"> <br> 
            <b>美图秀秀</b><br> 
            <span>中国最流行的图片处理软件</span>
          </li>
          <li>
            <img src="__PUBLIC__/images/56373fa13b56c34127.png" title="美拍"> <br> 
            <b>美拍</b><br> 
            <span>高颜值手机直播<br>超火爆原创视频</span>
          </li>
          <li>
            <img src="__PUBLIC__/images/56373fb8003cd56580.png" title="美颜相机"> <br> 
            <b>美颜相机</b><br> 
            <span>看见更美的自己</span>
          </li>
          <li>
            <img src="__PUBLIC__/images/56373f338aecd36882.png" title="海报工厂"> <br> 
            <b>海报工厂</b><br> 
            <span>照片瞬间高大上</span>
          </li>
          <li>
            <img src="__PUBLIC__/images/56373f0942efb91911.png" title="潮自拍"> <br> 
            <b>潮自拍</b><br> 
            <span>有电影质感的自拍神器</span>
          </li>
          <li>
            <img src="__PUBLIC__/images/56373fca146c696076.png" title="美妆相机"> <br> 
            <b>美妆相机</b><br> 
            <span>效果最好的美妆神器</span>
          </li>
          <li>
            <img src="__PUBLIC__/images/56373fdd10c0287862.png" title="万能相机"> <br> 
            <b>万能相机</b><br> 
            <span>你只需要一个相机App</span>
          </li>
          <li>
            <img src="__PUBLIC__/images/56373ffa60d3c70098.png" title="柚子相机"> <br> 
            <b>柚子相机</b><br> 
            <span>人人都是摄影师</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- footer -->
  <!-- down -->
  <!-- article -->
  <!-- <script src="__PUBLIC__/js/footer.js"></script> -->
  <include file="./Public/tpl/footer.html" />
 </body>
</html>
