#section{
  width:100%;
  min-width:1200px;
  text-align:center;
}
#section:before{
  content:"";
  display:table;
}
#section:after{
  content:"";
  display:table;
  clear:both;
}
#section>div{
  width:1200px;
  margin:0 auto;
  overflow: hidden;
}
#section>div:after{
  content:"";
  display:table;
  clear:both;
}
.sec_top{line-height:50px;height:50px;}
.sec_top>ul>li{float: left;}
.col{color:#f9398a;}

.sec_middle{
  background:#fff;
}
.sec_middle:after{
  content:" ";
  display:table;
  clear:both;
}
.sec_middle>ul{
  width: 1200px;
  overflow: hidden;
  position: relative;
  left: 1px;
  top: 1px;
}
.sec_middle>ul>li{
  float:left;
  width: 300px;
  padding: 40px;
  background:#fff;
  text-align: center;
  border-right: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  cursor: pointer;
  position: relative;
}
.sec_middle>ul>li:hover{
  box-shadow: 0 0 0 8px #ebebeb inset;
}
.sec_middle>ul>li>h4{
  line-height: 40px;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow:ellipsis;
  margin: auto;
}
.sec_middle>ul>li>h3{
  color:#ff3161;
  line-height: 30px;
}
.sec_middle>ul>li>a{
  position: absolute;
  top: 20px;
  right: 10px;
  opacity: 0;
  -webkit-transition: opacity .2s;
          transition: opacity .2s;
}
.sec_middle>ul>li:hover>a{
  opacity: 1;
}
.sec_middle>ul>li>img{
  -webkit-transition:-webkit-transform .5s;
          transition: transform .5s;
}
.sec_middle>ul>li:hover>img{
  -webkit-transform:translateY(-10px);
          transform: translateY(-10px);
}



/*分页*/
.pager {
  margin: 15px;
  float:right;
}
.pager a,.pager span {
  display: inline-block;
  padding:0 4px;
  margin:0 3px;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
  background: #f7f7f7;
}
.pager span{
  border: none;
  color: #e4393c;
  background: transparent;
}


/* 遮罩 */
.zhe{display:none;}
.zhe>div:first-child{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:#000;
  opacity:0.5;
  z-index:2000;
}
.zhe>div:last-child{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#fff;
  border-radius:3px;
  z-index:2001;
  width: 200px;
  height: 60px;
  margin:auto;
  text-align:center;
}
.zhe>div:last-child>h2{
  margin:10px 0 15px 0;
  line-height:45px;
}
.zhe>div:last-child>span{
  color:#999;
  font-weight:normal;
  cursor:pointer;
  float:right;
  position: absolute;
  top: -5px;
  right: 0;
  font-size:28px;
}


/* 加载动画 */
@-webkit-keyframes rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes move-animation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-64px, 0);
            transform: translate(-64px, 0);
  }
  75% {
    -webkit-transform: translate(32px, 0);
            transform: translate(32px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes move-animation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-64px, 0);
            transform: translate(-64px, 0);
  }
  75% {
    -webkit-transform: translate(32px, 0);
            transform: translate(32px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.circle-loader {
  display: block;
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform-origin: 16px 16px;
  transform-origin: 16px 16px;
  -webkit-animation: rotate-animation 5s infinite;
          animation: rotate-animation 5s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.circle-loader .circle {
  -webkit-animation: move-animation 2.5s infinite;
          animation: move-animation 2.5s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: absolute;
  left: 50%;
  top: 50%;
}

.circle-loader .circle-line {
  width: 64px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 0;
  -webkit-transform-origin: 4px 4px;
          transform-origin: 4px 4px;
}

.circle-loader .circle-line:nth-child(0) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.circle-loader .circle-line:nth-child(1) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.circle-loader .circle-line:nth-child(2) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.circle-loader .circle-line:nth-child(3) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.circle-loader .circle-line .circle:nth-child(1) {
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  border-radius: 4px;
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.circle-loader .circle-line .circle:nth-child(2) {
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  border-radius: 8px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.circle-loader .circle-line .circle:nth-child(3) {
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  border-radius: 12px;
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.circle-loader .circle-blue {
  background-color: #1f4e5a;
}

.circle-loader .circle-red {
  background-color: #ff5955;
}

.circle-loader .circle-yellow {
  background-color: #ffb265;
}

.circle-loader .circle-green {
  background-color: #00a691;
}
.page{height:500px;}