#section{
  width:100%;
  min-width:1200px;
}
#section:before{
  content:"";
  display:table;
}
#section:after{
  content:"";
  display:table;
  clear:both;
}
#section>div{
  width:1200px;
  margin:40px auto;
}
#section>div:after{
  content:"";
  display:table;
  clear:both;
}
.sec_top{height:50px;}
.sec_top>ul>li{float: left;}
.col{color:#f9398a;}


.sec_bottom>ul{
  background: #fff;
  padding: 40px 40px 0;
}
.sec_bottom>ul>li{margin-bottom: 30px;}
.sec_bottom>ul>li:first-child,.sec_bottom>ul>li:last-child{margin-bottom: 0px;}
.sec_bottom>ul h2{font-weight:normal;display:inline-block;}
.sec_bottom>ul img{width:27px;position:relative;top:5px;}
.sec_bottom>ul>li>ul{padding: 20px 35px;}
.sec_bottom>ul>li>ul>li{line-height: 35px;}

.sec_bottom>div.lf{
  margin-left:20px;
  height:563px;
  background:#fff;
  /*padding: 40px;*/
  width:945px;
  position: relative;
}
.sec_bottom>div.lf>div{
  position: absolute;
  top:40px;
  left:40px;
  background: #fff;
  height: 500px;
  width: 873px;
  overflow:auto;
}

.usercenter_top>img{width:150px;}
.usercenter_top>div{
  margin:20px 0 0 30px;
  color:#9E9E9E;
}
.usercenter_top>div>h1{font-size:40px;margin-bottom:15px;color:#5E6377;}
.usercenter_top>div>a{color:#4FAAE9;}
.usercenter_top>div.rt>a{
  padding: 10px;
  border:1px solid #9E9E9E;
  color:#9E9E9E;
  width: 136px;
  margin: 10px 50px 0 0;
  text-align: center;
  display: inline-block;
}

.usercenter_top{border-bottom: 1px solid #ddd;height:180px;padding:0 20px;}
.usercenter_bottom{
  padding: 50px;
}
.usercenter_bottom>ul>li{
  display:inline-block;
  margin: 0 38px;
  font-size: 17px;
}
.usercenter_bottom>ul>li>i{
  display:inline-block;
  width:80px;
  height:80px;
  background: url(../images/sprite.png) no-repeat 0 -280px;
  vertical-align: middle;
  -webkit-transition:-webkit-transform .5s linear;
          transition: transform .5s linear;
}
.usercenter_bottom>ul>li:nth-child(2)>i{
  background-position: 0 -370px;
}
.usercenter_bottom>ul>li:nth-child(3)>i{
  background-position: 0 -460px;
}
.usercenter_bottom>ul>li:hover>i{
  -webkit-transform:rotateY(180deg);
          transform: rotateY(180deg);
}
.usercenter{z-index:-1;}
.address{z-index:-1;}
.myForm{z-index:;}
.address>h1,.myForm>h1{
  font-weight: normal;
}
.address>a{
  padding: 10px;
  border:1px solid #9E9E9E;
  width: 176px;
  margin: 10px 50px 0 0;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
thead{
 border-bottom:1px solid #000;
}
.address>table{
  border-collapse: collapse;
  margin-top:25px;
}
.address>table th{
  padding: 8px 30px;
  border-bottom: 1px solid #ddd;
}
.address>table th:nth-child(3),.addres>table th:nth-child(6){
  padding: 8px 88px;
}

.myForm>ul>li{
  float: left;
  margin-right: 25px;
  font-size: 17px:
}
#cart{
  border-collapse: collapse;
  width: 856px;
  text-align: center;
  position:relative;
}
#cart th{
  border-top: 1px solid #ddd;
  padding: 10px 35px;
}
#cart td{
  min-height:40px;
  line-height:80px;
  border-top:1px solid #f1f1f1;
  border-bottom:1px solid #f1f1f1;
  padding:5px 15px;
  vertical-align: top;
}
#cart td>img{vertical-align: middle;width:70px;}
#cart thead input{
    vertical-align: middle;
}
#cart tbody input[type='checkbox']{
  float:left;
  margin-right: 10px;
}
#cart tbody>h1{
  font-weight: normal;
  position:absolute;
  top:180px;
  margin:0 auto;
  width:850px;
  height:50px;
}
#cart a{
  text-decoration:none;
  color:#666;
}
#cart a:hover{
  color:#E4393C;
}
#cart tbody td span{
  font-size: 17px;
  font-weight: bold;
}